mixin nav(data)
    .nav
        ul
            li
                a(href="#!").nav__item  Лучшее
            li
                a(href="#!").nav__item  Новости
            li
                a(href="#!").nav__item  Биография
            li
                a(href="#!").nav__item  Блог
            