mixin field-search(data)
    .field-search
        form(action="GET")
            input(type="text", placeholder="Что то потерял? Все найдется!").field-search__input
            input(type="submit")
            span.field-search__icon
                +svg('search', 25, 25)
