mixin field-search(data)
    .field-search
        form(action="GET")
            input(type="text", placeholder="Что то потерял? Все найдется!").filed-search__input
            input(type="submit")
            span.filed-search__icon