// Common styles of the project

html, body {
    height: 100%;
}

body {
    background-color: $main-color;
}

.page__wrapper {
    overflow: hidden;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}



* html {
    height: 100%;
}

@media (min-width: 1520px) {
    body .container {
        max-width: 1440px;
    }
}
