.news {
    &__container {
        // background-color: $main-color;
        width: 100%;
        height: 100%;
        background: $main-color;
        background-image: url("../img/general/9.webp"); 
    }
}
